.buttonCard .card-item {
  padding: 5px;
}

.buttonCard .card {
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
}

.buttonCard .card:hover {
  background-color: var(--color-prefoot);
  border-color: transparent;
}
